#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:#e5ffe4;
  border: 2px solid#e5e4ff;
  border-radius: 40px;
  box-shadow: 6px 6px #f7ffe4, -1.5em 0 .4em #e4fffe;
  
}

table, th, td {
  border: 1px solid;
  border-radius: 20px;
}

#rows:hover{
  border-color: rgb(133, 248, 206);
  background-color: #f9e4ff;
}




